on: 
    pull_request:
      branches:
      - main
      - master
    push:
      branches: 
      - main
      - master
name: Unit, Integration, and E2E Tests
jobs:
    unit:
        strategy:
          matrix:
            go-version: [1.15.x]
            os: [ubuntu-latest]
        runs-on: ${{ matrix.os }}
        steps:
        - name: Install Go
          uses: actions/setup-go@v2
          with:
            go-version: ${{ matrix.go-version }}
        - name: Check out code
          uses: actions/checkout@v2
        - name: Build
          run: make build
        - name: Test
          run: make test-unit-coverage
    integration:
        strategy:
          fail-fast: false
          matrix:
            go-version: [1.15.x]
            os: [ubuntu-latest]
            kubernetes:
              # Only v1.18 is currently enabled because of the flakiness in the tests, specifically API calls failing with "etcdserver: request timed out"
              #- v1.17.17
              #- v1.18.15
              #- v1.19.7
              - v1.20.2
          max-parallel: 1
        runs-on: ${{ matrix.os }}
        steps:
        - name: Install Go
          uses: actions/setup-go@v2
          with:
            go-version: ${{ matrix.go-version }}
        - name: Check out code
          uses: actions/checkout@v2
        - name: Install kubectl
          uses: azure/setup-kubectl@v1
          with:
            version: ${{ matrix.kubernetes }}
        - name: Create kind cluster
          uses: helm/kind-action@v1.1.0
          with:
            version: v0.10.0
            node_image: kindest/node:${{ matrix.kubernetes }}
            cluster_name: kind
            wait: 120s
        - name: Verify kind cluster
          run: |
            echo "# Using KinD context..."
            kubectl config use-context "kind-kind"
            echo "# KinD nodes:"
            kubectl get nodes
        - name: Install Tekton
          run: |
            make kind-tekton
        - name: Test
          run: make test-integration
    e2e:
        strategy:
          fail-fast: false
          matrix:
            go-version: [1.15.x]
            os: [ubuntu-latest]
            kubernetes:
              # Only v1.18 is currently enabled because of the flakiness in the tests, specifically API calls failing with "etcdserver: request timed out"
              #- v1.17.17
              #- v1.18.15
              #- v1.19.7
              - v1.20.2
          max-parallel: 2
        runs-on: ${{ matrix.os }}
        steps:
        - name: Install Go
          uses: actions/setup-go@v2
          with:
            go-version: ${{ matrix.go-version }}
        - name: Check out code
          uses: actions/checkout@v2
        - name: Install kubectl
          uses: azure/setup-kubectl@v1
          with:
            version: ${{ matrix.kubernetes }}
        - name: Create kind cluster
          uses: helm/kind-action@v1.1.0
          with:
            version: v0.10.0
            node_image: kindest/node:${{ matrix.kubernetes }}
            cluster_name: kind
            wait: 120s
        - name: Verify kind cluster
          run: |
            echo "# Using KinD context..."
            kubectl config use-context "kind-kind"
            echo "# KinD nodes:"
            kubectl get nodes
        - name: Install Tekton
          run: |
            make kind-tekton
            kubectl -n tekton-pipelines rollout status deployment tekton-pipelines-controller --timeout=1m
            kubectl -n tekton-pipelines rollout status deployment tekton-pipelines-webhook --timeout=1m
        - name: Install Registry
          run: |
            kubectl apply -f test/data/registry.yaml
            kubectl -n registry rollout status deployment registry --timeout=1m
        - name: Install Ko
          uses: imjasonh/setup-ko@20b7695b536c640edfafdd378d96c760460f29d6
        - name: Install Shipwright Build
          run: |
            make install-controller-kind
            kubectl -n shipwright-build rollout status deployment shipwright-build-controller --timeout=1m || true
        - name: Test
          run: |
            export TEST_NAMESPACE=shipwright-build
            export TEST_IMAGE_REPO=registry.registry.svc.cluster.local:32222/shipwright-io/build-e2e
            make test-e2e
        - name: Build controller logs
          if: ${{ failure() }}
          run: |
            echo "# Pods:"
            kubectl -n shipwright-build get pod
            PODS=$(kubectl -n shipwright-build get pod -o json)
            POD_NAME=$(echo "${PODS}" | jq -r '.items[] | select(.metadata.name | startswith("shipwright-build-controller-")) | .metadata.name')
            if [ "${POD_NAME}" != "" ]; then
              RESTART_COUNT=$(echo "${PODS}" | jq -r ".items[] | select(.metadata.name == \"${POD_NAME}\") | .status.containerStatuses[0].restartCount")
              if [ "${RESTART_COUNT}" != "0" ]; then
                echo "# Previous logs:"
                kubectl -n shipwright-build logs "${POD_NAME}" --previous || true
              fi
              echo "# Logs:"
              kubectl -n shipwright-build logs "${POD_NAME}"
            else
              echo "# Pod is missing, there are no logs to retrieve, bailing out..."
            fi
